<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Updates</title>

    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <style>
        label {
            color: rgb(147, 147, 184);
            margin: 8px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#icon').click(function () {
                $('ul').toggleClass('show');
            });
        });
    </script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>


<body>

    <section></section>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="hero-content">
                    <h1>COVID-19 Updates</h1>
                    <p>
                        Keep up with everything going on in the world in the current state
                    </p>
                </div>
            </header>
        </div>
    </div>

     <!--<script src =".js/main.js" type="module"></script>-->
    <script src="/static/main.js" type="module"></script>
    
    <div class="APIContainer">
        <div>
            <!--<p id = "place"></p>-->
            <p id="top"></p>
            <!--<p id="result"></p>-->
            <!--<p id="cases"></p>-->
            <!--<p id="gone"></p>-->

        </div>
    </div>

</body>

</html>